body {
    background-color: rgb(202, 197, 197);
    text-align: justify;
}

h1 {
    text-align: right;
    color: white;
    background-color: black;
    margin: 0;
    padding: 8px;
}

h2 {
    text-align: justify;
    font-size: 1.7em;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: white solid 5px;
}

p {
    margin-left: 25%;
    margin-right: 25%;
}

p.date {
    text-align: center;
    border-top: black solid 3px;
    margin-top: 2em;
    padding-top: 1.5em;
}

time {
    background-color: rgb(110, 106, 106);
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 3px;
}

strong {
    font-weight: bold;
    font-variant: small-caps;
}

q {
    border-bottom: red 1px dashed;
    font-size: 1.5em;

}

span {
    background-color: white;
    color: red;
}

span.sitio {
    color: blue;
    
}